/*
Tarea diseño de paginas restantes 
4 paginas en css o total 5 con el index
*/

header{
    flex:box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  chocolate;
    border-radius: 8000000px;
}
ul{
    display: flex;
    text-decoration: none;
    gap: 1.5rem;
    background-color: aqua;
    border-radius: 50px;
}
body{
    background-color: #33333D;
    border-radius:80px;
}
